[Interface]
Address = {{ wg_listen_ipv4 }}, {{ wg_listen_ipv6 }}
ListenPort = {{ wg_listen_port }}
FwMark = {{ wg_fwmark }}
PrivateKey = {{ server_key_value.content | b64decode -}}

{{ peers_file.content | b64decode }}
